# Ignore Python virtual environments
venv*/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment/config files
.env
.DS_Store

# VSCode settings
.vscode/

# Ignore model checkpoints (optional)
*.h5
*.ckpt
*.tflite
